<!doctype html>
<html>
<head>
<link rel="stylesheet" href="theme/css/npc.css"/>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="chosen/chosen.css">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="theme/js/jquery-ui.min.js"></script>
<script src="theme/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="chosen/chosen.jquery.min.js"></script>
<script src="demo.js"></script>
<script language="x-underscore-tpl" id="tplFacetBlock">
  <% _.each(facets, function(f, id) { %>
    <h3><%= f.name %></h3>
    <ul>
      <% _.each(f.items, function(count, item) { %>
        <li>
          <label>
            <input type="checkbox" name="<%= f.key + '__' + item %>">
            <%= item %> (<%= count %>)
          </label>
        </li>
      <% }); %>
    </ul>
  <% }) %>
</script>
<script language="x-underscore-tpl" id="tplBubbleText">
    Name: <%= _Namem %> <br />
    Tech: <%= _TECH %><br />
    PID: <%= _PID %><br />
    PriFuel: <%= _PriFuel %><br />
    AltFuel: <%= _AltFuel %><br />
    RES: <%= _RES %>
    geo: <%= _lat %>,<%= _lng %>
</script>
<script language="x-underscore-tpl" id="tplDetailsText">
  <div class="inner">
  geo: <%= _lat %>,<%= _lng %>
  <table>
    <% _.each(cells, function(cell, i) { %>
      <tr>
        <td><%= original.column_names[i] %></td>
        <td><%= cell %></td>
      </tr>
    <% }); %>
  </table>
  </div>
</script>
</head>
<body>
  <div class="container map">
    <div class="row">
      <div id="facetswrap" class="col-xs-3">
        <div id="facets">
        </div>
      </div>
      <div class="stationsWrap col-xs-3 col-sm-offset-6 ">
        <select id="stations">
        </select> 
        <div class="detailsWrap">
          <div id="details">
          </div>
        </div>
      </div>
    </div>
    <div id="map"  style="height: 100%;">
    </div>
  </div>
</body>
</html>
